@import 'tailwindcss';

.container {
  padding: 12px;
  display: flex;
  gap: 12px;
}

.container > ul {
  width: 180px;
  list-style-type: none;
  text-align: right;
  padding: 0 12px;
  margin: 0;
  border-right: 1px solid #ccc;
}

li {
  cursor: pointer;
}
li:hover {
  background-color: #f0f0f0;
}

.container > div {
  flex: 1;
  padding: 10px;
}
